.sidebar {
    margin: 0;
    padding: 0;
    width: 215px;
    background: #EFF2F8;   
    height: 100vh;
    overflow-x: hidden;
    overflow: auto;
  }

.dashboard{
    width: 167px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
    padding: 8px;
}


.nav-sec{
    margin: 20px 0px 60px 50px;
}

.toolbar-top{
    width: 100%;
}

.toolBar{
    background: #EFF2F8; 
    padding: 20px 30px 20px 30px;  
}

.top-nav-btn{
    background: #0047CC;
    border-radius: 5px;
    font-size: 14px;
    padding: 17px;
    width: 255px;
}
