.dash-parent{
    background: #ffffff;
    padding: 2%;
}

.h-164{
    height: 164px;
}

.hh-50{
    height: 50vh;
}

.card-line{
    opacity: 0.2;
    border: 1px solid #0047CC;
}

.quick-action-card{
    background: #EFF2F8;
    border-radius: 4px;
    padding: 13px 30px;
    width: 155px;
    height: 94px;
}

.upgrade-card{
    background: #0047CC;
    box-shadow: 0px 4px 16px rgba(32, 32, 35, 0.1);
    border-radius: 4px;
    padding: 14px;
}

.nav-item{
    .active{
        background: #0047CC !important;
        border-radius: 10px !important;
    }
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #94B9FF;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #4181F9;
    transition: width .6s ease;
}

.side-line{
    border-right: 1px solid #96a8ca45;
}

.inner-side-line{
    // opacity: 0.2;
    border-left: 1px solid #96a8ca45;
}

.transaction-line{
    border: 1px solid #E7E7E7;
}

.ml-40{
    margin-left: 40px;
}

.ml-13{
    margin-left: 13px;
}

.w-65{
    width: 65% !important;
}

.w-32{
    width: 32% !important;
}

.water-mark{
    position: absolute;
    bottom: 62px;
    right: 15px;
}