<div class="dash-parent">
    <div class="color-black fw-700 font-22 mb-3">Hello Bennedict,</div>
    <div  class="d-flex">
        <img src="assets/images/arrowleft.svg" alt="">
        <div class="row w-100 mx-3">
            <div class="col-md-4">
                <div class="bg-blue round-5 p-3 h-164">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="font-12 fw-400 color-white">Avalaible Balance</div>
                        <div class="color-blue bg-white p-2 text-center font-14 round-4">Tier 1</div>
                    </div>
                    <div class="d-flex ">
                        <div class="fw-700 font-36 color-white mr-3"><sup>N</sup> 6,390.68</div>
                        <img src="assets/images/white-eye.svg" alt="">
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="bg-cgrey round-5 p-3 h-164">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="font-12 fw-400 color-llgrey">Car Purchase Plan</div>
                        <div class="color-black d-flex font-12">
                            <div class="mr-13">75% Achieved</div>
                            <img src="assets/images/progress.svg" alt="">
                        </div>
                    </div>
                    <div class="d-flex ">
                        <div class="fw-700 font-36 color-black mr-13"><sup>N</sup> 6,390.68</div>
                        <img src="assets/images/black-eye.svg" alt="">
                    </div>
                    <hr class="line my-2">
                    <div class="fw-600 font-12 color-llgrey">Interest as at today:  : ₦20,000</div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="bg-cpink round-5 p-3 h-164">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="font-12 fw-400 color-llgrey">Birthday Plan</div>
                        <div class="color-black d-flex font-12">
                            <div class="mr-13">75% Achieved</div>
                            <img src="assets/images/progress.svg" alt="">
                        </div>
                    </div>
                    <div class="d-flex ">
                        <div class="fw-700 font-36 color-black mr-13"><sup>N</sup> 6,390.68</div>
                        <img src="assets/images/black-eye.svg" alt="">
                    </div>
                    <hr class="line my-2">
                    <div class="fw-600 font-12 color-llgrey">Interest as at today:  : ₦20,000</div>

                </div>
            </div>

        </div>
        <img src="assets/images/arrowright.svg" alt="">
    </div>
</div>