<div class="dash-parent overflow-y">
  <div class="color-black fw-700 font-22 mb-3">Hello Bennedict,</div>
  <div class="d-flex mb-3">
    <img src="assets/images/arrowleft.svg" alt="">
    <div class="row w-100 mx-3">
      <div class="col-md-4 position-relative">
        <div class="bg-blue round-5 p-3 h-164 position-relative">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="font-12 fw-400 color-white">Avalaible Balance</div>
            <div class="color-blue bg-white p-2 text-center font-14 round-4">Tier 1</div>
          </div>
          <div class="d-flex ">
            <div class="fw-700 font-36 color-white mr-3"><sup>₦</sup> 6,390.68</div>
            <img src="assets/images/white-eye.svg" alt="">
          </div>
        </div>
        <div class="water-mark">
          <img src="assets/images/water-mark.svg" alt="">
        </div>
      </div>

      <div class="col-md-4 position-relative">
        <div class="bg-cgrey round-5 p-3 h-164 position-relative">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="font-12 fw-400 color-llgrey">Car Purchase Plan</div>
            <div class="color-black d-flex font-12">
              <div class="mr-13">75% Achieved</div>
              <img src="assets/images/progress.svg" alt="">
            </div>
          </div>
          <div class="d-flex ">
            <div class="fw-700 font-36 color-black mr-13"><sup>₦</sup> 6,390.68</div>
            <img src="assets/images/black-eye.svg" alt="">
          </div>
          <hr class="line my-2">
          <div class="fw-600 font-12 color-llgrey">Interest as at today: : ₦20,000</div>
        </div>
        <div class="water-mark">
          <img src="assets/images/water-mark.svg" alt="">
        </div>
      </div>

      <div class="col-md-4 position-relative">
        <div class="bg-cpink round-5 p-3 h-164 position-relative">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="font-12 fw-400 color-llgrey">Birthday Plan</div>
            <div class="color-black d-flex font-12">
              <div class="mr-13">75% Achieved</div>
              <img src="assets/images/progress.svg" alt="">
            </div>
          </div>
          <div class="d-flex ">
            <div class="fw-700 font-36 color-black mr-13"><sup>₦</sup> 6,390.68</div>
            <img src="assets/images/black-eye.svg" alt="">
          </div>
          <hr class="line my-2">
          <div class="fw-600 font-12 color-llgrey">Interest as at today: : ₦20,000</div>
        </div>
        <div class="water-mark">
          <img src="assets/images/water-mark.svg" alt="">
        </div>
      </div>

    </div>
    <img src="assets/images/arrowright.svg" alt="">
  </div>

  <div class="my-5">
    <hr class="card-line">
  </div>

  <section class="overflow-scroll hh-50">
    <div class="row w-100 justify-content-between">
      <div class="col-md-8 w-65 side-line px-3">

        <div class="bg round-10 mb-3">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active text-center color-white font-12 fw-400 " aria-current="page" href="#">Spending
                Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center color-blue font-12 fw-400">Linked accounts</a>
            </li>
          </ul>
        </div>

        <div>
          <div class="font-12 fw-400 color-lgrey mb-2">Recent Transaction</div>
          <div class="d-flex justify-content-between mb-2">
            <div class="bg round-10 mb-3">
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a class="nav-link active text-center color-white font-12 fw-400 " aria-current="page">All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center color-blue font-12 fw-400">Debit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center color-blue font-12 fw-400">Credit</a>
                </li>
              </ul>
            </div>
            <div class="d-flex align-items-center">
              <img style="width:19px; margin-right: 10px;" src="assets/images/calender.svg" alt="">
              <div class="font-12 color-blue fw-600">Past 30 Days</div>
              <img style="width:8px; margin-left: 10px;" src="assets/images/arrowdown-blue.svg" alt="">
            </div>
          </div>
        </div>

        <div class="mb-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex">
            <img style="margin-right: 10px;" src="assets/images/blue-box.svg" alt="">
            <div class="font-12 fw-400 color-blue-2">Total In (₦): +42,000</div>
          </div>
          <div class="d-flex">
            <div class="font-12 fw-400 color-lblue text-end">Total Out (₦): -42,000</div>
            <img style="margin-left: 10px;" src="assets/images/lblue-box.svg" alt="">
          </div>
        </div>



        <div class="color-black fw-600 font-12">Today</div>
        <div class=" pl-4 ml-13">
          <div class="px-5 my-4 inner-side-line">
            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/netflix.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Paid for</div>
                  <div class="font-16 fw-400 color-black">Netflix</div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>

            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/success.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Recieved From</div>
                  <div class="font-16 fw-400 color-black">Ayoola Adeniji</div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>

            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/reject.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Sent Money with Mtag</div>
                  <div class="font-16 fw-400 color-black">Car Repair</div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>
          </div>
        </div>

        <div class="color-llgrey fw-600 font-12">Sept 18</div>
        <div class="pl-4 ml-13">
          <div class="px-5 my-4 inner-side-line">
            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/netflix.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Paid for</div>
                  <div class="font-16 fw-400 color-black">Netflix</div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>

            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/pending.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Payme Request to Adeniji Ayoola</div>
                  <div class="font-16 fw-400 color-black">Status: <span class="color-orange">Pending</span></div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>

            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/reject.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Tranfer with Mtag</div>
                  <div class="font-16 fw-400 color-black">Car Repair</div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>

            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/netflix.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Paid for</div>
                  <div class="font-16 fw-400 color-black">Netflix</div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>

            <div class="d-flex justify-content-between ">
              <div class="d-flex align-items-center">
                <img src="assets/images/success.svg" alt="">
                <div class="ml-40">
                  <div class="color-llgrey font-14 fw-400 mb-1">Recieved From</div>
                  <div class="font-16 fw-400 color-black">Ayoola Adeniji</div>
                </div>
              </div>
              <div>
                <div class="fw-700 font-18 color-black mb-1 text-end"><sup>₦</sup>-3,000.00</div>
                <div class="color-black fw-400 font-12 text-end">₦ 300,000</div>
              </div>
            </div>

            <div class="my-1">
              <hr class="trasaction-line">
            </div>

          </div>
        </div>

        <div class="d-flex m-auto justify-content-center mb-3">
          <button class="color-white text-center border-0 font-16 fw-400 bg-blue round-5 px-5 py-2">View All Transactions</button>
        </div>

      </div>

      <div class="col-md-4 w-32">
        <div class="">
          <div class=""></div>
          <div>
            <div class="font-12 fw-400 color-llgrey mb-4">Quick Actions</div>
            <div>
              <div class="row justify-content-between mb-3">
                <div class="col-md-6 quick-action-card">
                  <img class="d-flex m-auto my-2" src="assets/images/sendmoney.svg" alt="">
                  <div class="text-center font-14 fw-700 color-dblack">Send Money</div>
                </div>
                <div class="col-md-6 quick-action-card">
                  <img class="d-flex m-auto my-2" src="assets/images/fundaccount.svg" alt="">
                  <div class="text-center font-14 fw-700 color-dblack">Fund Account</div>
                </div>
              </div>

              <div class="row justify-content-between mb-3">
                <div class="col-md-6 quick-action-card">
                  <img class="d-flex m-auto my-2" src="assets/images/phone.svg" alt="">
                  <div class="text-center font-14 fw-700 color-dblack">Buy Airtime</div>
                </div>
                <div class="col-md-6 quick-action-card">
                  <img class="d-flex m-auto my-2" src="assets/images/paybills-blue.svg" alt="">
                  <div class="text-center font-14 fw-700 color-dblack">Pay Bills</div>
                </div>
              </div>

              <div class="row justify-content-between mb-3">
                <div class="col-md-6 quick-action-card">
                  <img class="d-flex m-auto my-2" src="assets/images/savemoney-blue.svg" alt="">
                  <div class="text-center font-14 fw-700 color-dblack">Save Money</div>
                </div>
                <div class="col-md-6 quick-action-card">
                  <img class="d-flex m-auto my-2" src="assets/images/cashback.svg" alt="">
                  <div class="text-center font-14 fw-700 color-dblack">Cahback</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 upgrade-card">
              <div class="font-14 fw-700 color-white mb-2">Upgrade your account</div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="fw-400 font-11 color-lblue mr-2">Upgrade your account to increase your account limits.</div>
                <img src="assets/images/arrowright-white.svg" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>
